opencv-python==4.10.0.84
yt-dlp
openai-whisper
torch
torchaudio
torchvision
librosa
srt
scenedetect==0.6.4
tqdm==4.66.4
mediapipe==0.10.14
moviepy==1.0.3
ultralytics
pyttsx3
pillow
numpy
requests
demucs
wand
google-generativeai
twitchAPI
python-dotenv

